body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1609px;
}
#u353 {
  position:absolute;
  left:-346px;
  top:0px;
  width:1920px;
  height:1609px;
}
#u354 {
  position:absolute;
  left:2px;
  top:796px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
