body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1494px;
}
#u427 {
  position:absolute;
  left:-340px;
  top:0px;
  width:1920px;
  height:1494px;
}
#u428 {
  position:absolute;
  left:2px;
  top:739px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
