body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1037px;
}
#u433 {
  position:absolute;
  left:-122px;
  top:0px;
  width:2048px;
  height:1037px;
}
#u434 {
  position:absolute;
  left:2px;
  top:510px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
