body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:988px;
}
#u503 {
  position:absolute;
  left:-348px;
  top:0px;
  width:1920px;
  height:988px;
}
#u504 {
  position:absolute;
  left:2px;
  top:486px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
