body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1117px;
}
#u281 {
  position:absolute;
  left:-383px;
  top:-107px;
  width:1920px;
  height:1117px;
}
#u282 {
  position:absolute;
  left:2px;
  top:550px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
