body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1236px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1041px;
}
#u145 {
  position:absolute;
  left:-342px;
  top:10px;
  width:1920px;
  height:1041px;
}
#u146 {
  position:absolute;
  left:2px;
  top:512px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:169px;
  top:560px;
  width:94px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
