.pagination {
            font-size: 80%;overflow:hidden;color: #565656;
    padding: 10px 0px;text-align:center;
        }
        
.pagination a {
    text-decoration: none;
	border: 1px solid #cacaca;
	color: #565656;border-radius:2px;
}

.pagination a, .pagination span {
    display:inline-block;
    padding: 0.3em 0.5em;
       margin: 0 5px;
}

.pagination .current {
   background-color: #731F4F;
    border: 1px solid #731F4F;
    color: #ffffff;border-radius:2px;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
