body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1332px;
}
#u451 {
  position:absolute;
  left:-335px;
  top:0px;
  width:1920px;
  height:1332px;
}
#u452 {
  position:absolute;
  left:2px;
  top:658px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
