body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:903px;
}
#u515 {
  position:absolute;
  left:-341px;
  top:0px;
  width:1920px;
  height:903px;
}
#u516 {
  position:absolute;
  left:2px;
  top:444px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
