body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  position:absolute;
  left:30px;
  top:45px;
  width:623px;
  height:20px;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  white-space:nowrap;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u607 {
  position:absolute;
  left:30px;
  top:25px;
  width:385px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u608 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  position:absolute;
  left:30px;
  top:119px;
  width:483px;
  height:20px;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:92px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u611 {
  position:absolute;
  left:30px;
  top:165px;
  width:496px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u612 {
  position:absolute;
  left:10px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u613 {
  position:absolute;
  left:30px;
  top:99px;
  width:456px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:988px;
}
#u615 {
  position:absolute;
  left:-332px;
  top:289px;
  width:1920px;
  height:988px;
}
#u616 {
  position:absolute;
  left:2px;
  top:486px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  position:absolute;
  left:575px;
  top:597px;
  width:207px;
  height:29px;
}
#u618 {
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
}
#u619 {
  position:absolute;
  left:568px;
  top:636px;
  width:236px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u620 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
}
#u621 {
  position:absolute;
  left:568px;
  top:714px;
  width:236px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u622 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
}
#u623 {
  position:absolute;
  left:568px;
  top:753px;
  width:236px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u624 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
}
#u625 {
  position:absolute;
  left:568px;
  top:675px;
  width:236px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u626 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u627 {
  position:absolute;
  left:272px;
  top:544px;
  width:150px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u628 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
