body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:1037px;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:1037px;
}
#u486 {
  position:absolute;
  left:2px;
  top:510px;
  width:1212px;
  visibility:hidden;
  word-wrap:break-word;
}
