body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:500px;
}
#u445 {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:500px;
}
#u446 {
  position:absolute;
  left:2px;
  top:242px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
