body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1117px;
}
#u373 {
  position:absolute;
  left:-361px;
  top:-107px;
  width:1920px;
  height:1117px;
}
#u374 {
  position:absolute;
  left:2px;
  top:550px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u375 {
  position:absolute;
  left:87px;
  top:770px;
  width:31px;
  height:24px;
}
#u376 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u377 {
  position:absolute;
  left:93px;
  top:732px;
  width:31px;
  height:24px;
}
#u378 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
