body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1236px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1041px;
}
#u123 {
  position:absolute;
  left:-342px;
  top:10px;
  width:1920px;
  height:1041px;
}
#u124 {
  position:absolute;
  left:2px;
  top:512px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
