body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u457 {
  position:absolute;
  left:16px;
  top:14px;
  width:307px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u458 {
  position:absolute;
  left:10px;
  top:10px;
  width:287px;
  word-wrap:break-word;
}
