<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152" executionTimeout="3600"/>
  </system.web>
  <connectionStrings>    
    <!--本系统接口地址-->
    <add name="HttpService" connectionString="http://192.168.1.14:8012/Service/" />

    <add connectionString="/Login.aspx" name="LoginPage" />
    <add name="FileManageName" connectionString="/FileManage" />
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

 
</configuration>