body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1249px;
}
#u185 {
  position:absolute;
  left:-520px;
  top:-14px;
  width:1920px;
  height:1249px;
}
#u186 {
  position:absolute;
  left:2px;
  top:616px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
