<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>匿名聊天</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="js/MobileCommon.js"></script>
    <script src="js/ejs.min.js"></script>
    <!--联系人-->
    <script type="text/template" id="item_AnonyFeed">
        <% $.each(retData,function(index,item){ %>
        <li uvalue="<%=item.UniqueNo%>" anon="<%=item.AnonymityId%>" class='<%=item.ReadCount>0?"active":""%>'>
            <a href="javascript:;">
                <div class="img">
                    <img src="images/niming.png" alt="Alternate Text" /><b></b>
                </div>
                <div class="desc">
                    <h2>
                        <span class="people">学生<%=item.AnonymityId%></span>
                        <span class="time"><%=DateTimeConvert(item.LastMessage.CreateTime,"yyyy-MM-dd HH:mm")%></span>
                    </h2>
                    <p>
                        <% if(item.ReadCount>0){ %><span>[<%=item.ReadCount%>条]</span><%} %>
                        <%=item.LastMessage.Content%>
                    </p>
                </div>
            </a>
        </li>
        <% }) %>
    </script>
</head>
<body>
    <header class="header">
        <a href="Feedback.html" class="back">
            <i class="iconfont">&#xe647;</i>
        </a>
        <span class="title">匿名聊天</span>       
    </header>
    <div class="content">
                <ul class="link_lists" id="ul_AnonyFeed" style="padding-top:0px;"></ul>
    </div>
    <footer class="footer">
        <a href="Index.html">
            <i class="iconfont">&#xe629;</i>
            <b></b>
            <p>首页</p>
        </a>
        <a href="Feedback.html" class="active">
            <i class="iconfont">&#xe6ce;</i>
            <b></b>
            <p>互动反馈</p>
        </a>
        <a href="My.html">
            <i class="iconfont">&#xe692;</i>
            <b></b>
            <p>我的</p>
        </a>
    </footer>
    <script type="text/javascript">
        mui.init({
            swipeBack: true,//启用右滑关闭功能
            keyEventBind: {
                backbutton: true  //启动back按键监听
            },
            statusBarBackground: '#6a264b',
        });
        var UrlDate = new GetUrlDate();       
        $(function () {            
            GetAnonymityContacts_Tea_Model();
           
        });
       
        //最近联系
        function GetAnonymityContacts_Tea_Model() {
            $.ajax({
                url: HanderServiceUrl + "/InteractFeed/Feed_DiscussHandler.ashx",
                type: "post",
                dataType: "json",
                data: {
                    Func: "GetAnonymityContacts_Tea_Model",
                    LoginUID: login_User.UniqueNo                   
                },
                success: function (json) {
                    if (json.result.errNum.toString() == "0") {
                        $('#ul_AnonyFeed').html('');
                        rtndata = json.result.retData;
                        if (rtndata.length==0) {
                            nomessage('ul_AnonyFeed');
                            return;
                        }
                        $('#ul_AnonyFeed').append(ejs.render($('#item_AnonyFeed').html(), { retData: rtndata }));
                        $('#ul_AnonyFeed li').on('tap', function () {
                            window.location.href = 'AnonymousChat_Detail.html?recuid=' + $(this).attr("uvalue") + '&anonid=' + $(this).attr("anon");
                        });
                    }
                    else {
                        nomessage('ul_AnonyFeed');
                    }
                },
                error: function (errMsg) {
                    nomessage('ul_AnonyFeed');
                }
            });
        }
    </script>
</body>
</html>
