<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>首页</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--已评价表-->
    <script type="text/template" id="item_HasEva">
        <% $.each(retData,function(index,item){ %>
        <li>
            <a href="RegularEva_View.html?table_Id=<%=item.TableID%>&QuestionID=<%=item.Id%>">
                <h2 class="title"><%=item.ReguName%></h2>
                <p>
                    <span class="type"><%=item.CourseName%>-<%=item.TeacherName%></span>
                    <span class="time"><%=DateTimeConvert(item.CreateTime)%></span>
                </p>
            </a>
            <i class="iconfont">&#xe60c;</i>
        </li>
        <% }) %>
    </script>
</head>
<body>
    <header class="header">
        <span class="title">首页</span>
    </header>
    <div class="message_wrap">
        <h1 style="vertical-align: middle; text-align: center; margin-top: 18px">课堂评价-已评价</h1>
    </div>
    <div class="content" style="top:100px;">
        <div class="lists_wrap">
            <ul id="ul_HasEva" class="eval_lists"></ul>
        </div>
    </div>
    <footer class="footer">
        <a href="Index.html" class="active fl">
            <i class="iconfont">&#xe629;</i>
            <b></b>
            <p>首页</p>
        </a>
        <a href="My.html" class="fr">
            <i class="iconfont">&#xe692;</i>
            <b></b>
            <p>我的</p>
        </a>
    </footer>
    <script src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="js/MobileCommon.js"></script>
    <script src="js/ejs.min.js"></script>
    <script>
        mui.init({
            swipeBack: true,//启用右滑关闭功能
            keyEventBind: {
                backbutton: true  //启动back按键监听
            },
            statusBarBackground: '#6a264b',
        });
        var UrlDate = new GetUrlDate();
        $(function () {
            Get_Backlog();
        });
        //获取评价
        function Get_Backlog() {
            $("#ul_HasEva").empty();
            var StudentUID = login_User.UniqueNo;
            $.ajax({
                url: HanderServiceUrl + "/Eva_Manage/Eva_ManageHandler.ashx",
                type: "post",
                dataType: "json",
                data: { Func: "Get_Backlog", StudentUID: StudentUID },
                success: function (json) {
                    var retDataCache = json.result.retData;
                    if (retDataCache.length == 0) {
                        nomessage('ul_HasEva');
                        return;
                    }
                    else {
                        $("#ul_HasEva").append(ejs.render($('#item_HasEva').html(), { retData: retDataCache }));
                    }
                },
                error: function () {
                    //接口错误时需要执行的
                }
            });
        }
    </script>
</body>
</html>
