<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>课堂评价</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="js/MobileCommon.js"></script>
    <script src="js/ejs.min.js"></script>
    <style>
        .h1_div {
            margin-top: 10px;
            background: white;
            text-align: center;
            height: 40px;
            margin: 20px -10px 0px -10px;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
            .h1_div h1 {
                margin-top: 10px;
                margin-left: 20px;
            }
        .test_time {
            font-size: 1.1rem;
        }
        .table_header_left {
            /*min-height: 49px;*/
            /*margin-top: 90px;*/
            /*margin-bottom: 60px;*/
        }
        .input_bottom {
            width: 210px;
            border: 0;
            border-bottom: 1px solid #000;
            text-align: center;
            background: transparent;
        }
        .input_bottom_lbl {
            /* width: 45px; */
            width: 50%;
            border: 0;
            /* border-bottom: 1px solid #000; */
            /* text-align: center; */
            background: transparent;
        }
        .div_header1 {
            margin: 5px;
            width: 45%;
            margin-left: 10px;
        }
            .div_header1 select {
                width: 210px;
            }
            .div_header1 label {
                text-overflow: ellipsis;
            }
        .div_header2 {
            margin: 5px;
            width: 100%;
            margin-left: 10px;
        }
            .div_header2 label {
                text-overflow: ellipsis;
            }               
         .div_header2 select {
            width: 210px;
        }
        .lblheader select
        {
            width:60%;
            vertical-align:middle;
            height:25px;
        }
        .input-group {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background: #fff;
            height: 40px;
            padding: 6px 10px;
            width:100%;
            position: fixed;
            bottom: 60px;
            left: 0;
            line-height:28px;
        }
        .ti {
            width: 100%;
            padding: 66px 10px 101px 10px;
        }
    </style>
</head>
<body>
    <div id="main"></div>
    <div class="input-group">
        <label>提交方式：</label>
        <label>
            <input type="radio" name="isRealName" value="0" checked="checked" />
            <span for="NoRealName">匿名</span>
        </label>
        <label>
            <input type="radio" name="isRealName" value="1" />
            <span>实名</span>
        </label>
    </div>
    <div class="submitwrap">
        <input type="submit" id="btn_submit" class="button" value="提交" style="display:none;" />
    </div>
    <script src="../Scripts/WebCenter/TableDesigin.js"></script>
    <script src="../Scripts/WebCenter/Evaluate.js"></script>
    <script src="../../Scripts/WebCenter/Room.js"></script>
    <script src="../../Scripts/WebCenter/User.js"></script>
    <!--答题-->
    <script type="text/template" id="item_table_view">
        <div class="header" style="position:fixed;">
            <a href="Index.html" class="back"><i class="iconfont">&#xe647;</i></a>
            <span class="title"><%=retData.Name%> 扫码评价</span>
        </div>

        <div class="test_time ">
            实时总分：<b id="sp_realtotal" style="color:white;">0</b>分
        </div>

        <div class="ti">
            <div class="table_header_left" id="list">
                <% $.each(retData.headerList,function(hindex,child){ %>
                <div class="fl div_header1">
                    <label class="lblheader" customcode="<%=child.CustomCode%>" code="<%=child.Id%>" name="<%=child.Value%>">
                        <%=child.Value%>：
                        <% if(child.CustomCode == 4){ %>
                        <select id="major"></select>
                        <% }else if(child.CustomCode == 5){ %>
                        <select id="Cls"></select>
                        <% }else if(child.CustomCode == 6){ %>
                        <select id="Stu"></select>
                        <% }else if(child.CustomCode == 7){ %>
                        <label class="input_bottom_lbl" id="section" />
                        <% }else if(child.CustomCode == 3){ %>
                        <label class="input_bottom_lbl" id="teacher" />
                        <% }else if(child.CustomCode == 2){ %>
                        <label class="input_bottom_lbl" id="course" />
                        <% }else if(child.CustomCode == 1){ %>
                        <label class="input_bottom_lbl" id="dp" />
                        <% } %>
                    </label>
                </div>
                <% }) %>

                <% $.each(retData.head_value,function(hindex,child){ %>
                <div class="fl div_header2">
                    <label  class="lblheader" code="<%=child.Id %>" name="<%=child.Header%>">
                        <%=child.Header%>：<input class="input_bottom" value="<%=child.Value%>" />
                    </label>
                </div>
                <% }) %>
            </div>

            <% $.each(retData.Table_Detail_Dic_List,function(hederindex,child){ %>
            <div class="h1_div">
                <h1 class="test_title" style="display: inline-block">
                    <b class="order_num"></b><b>111</b>
                </h1>
            </div>
           
            <% $.each(child.Eva_TableDetail_List,function(tindex,titem){ %>

            <div class="test_area indicatype">
                <input type="hidden" value="<%=titem.Eva_table_Id%>" name="name_title" />
                <input type="hidden" value="<%=titem.Id%>" name="name_id" />
                <input type="hidden" value="<%=titem.QuesType_Id%>" name="name_QuesType_Id" />
                
                <% if(titem.QuesType_Id ==1){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.【单选题】</b><b><%=titem.Name%></b>
                        <% if(retData.IsScore==0){ %><b>(<span><%=titem.OptionF_S_Max%></span>分)</b><%}%>
                        
                    </h1>
                    <ul id="ul_ques_<%=titem.Id%>" class="radios maxques">
                        <% if(titem.OptionA!=""){ %>
                        <li class="single" lioption="OptionA">
                            <span>
                                A<input type="radio" flv="OptionA" name="name_<%=titem.Id%>" value="<%=titem.OptionA_S%>" />
                            </span>
                            <div><%=titem.OptionA%><b class="isscore">(<b class="numbers"><%=titem.OptionA_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionB!=""){ %>
                        <li class="single" lioption="OptionB">
                            <span>
                                B<input type="radio" flv="OptionB" name="name_<%=titem.Id%>" value="<%=titem.OptionB_S%>" />
                            </span>
                            <div><%=titem.OptionB%><b class="isscore">(<b class="numbers"><%=titem.OptionB_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionC!=""){ %>
                        <li class="single" lioption="OptionC">
                            <span>
                                C<input type="radio" flv="OptionC" name="name_<%=titem.Id%>" value="<%=titem.OptionC_S%>" />
                            </span>
                            <div><%=titem.OptionC%><b class="isscore">(<b class="numbers"><%=titem.OptionC_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionD!=""){ %>
                        <li class="single" lioption="OptionD">
                            <span>
                                D<input type="radio" flv="OptionD" name="name_<%=titem.Id%>" value="<%=titem.OptionD_S%>" />
                            </span>
                            <div><%=titem.OptionD%><b class="isscore">(<b class="numbers"><%=titem.OptionD_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionE!=""){ %>
                        <li class="single" lioption="OptionE">
                            <span>
                                E<input type="radio" flv="OptionE" name="name_<%=titem.Id%>" value="<%=titem.OptionE_S%>" />
                            </span>
                            <div><%=titem.OptionE%><b class="isscore">(<b class="numbers"><%=titem.OptionE_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionF!=""){ %>
                        <li class="single" lioption="OptionF">
                            <span>
                                F<input type="radio" flv="OptionF" name="name_<%=titem.Id%>" value="<%=titem.OptionF_S%>" />
                            </span>
                            <div><%=titem.OptionF%><b class="isscore">(<b class="numbers"><%=titem.OptionF_S%></b>分)</b></div>
                        </li>
                        <% } %>
                    </ul>
                </div>
                


                <% }else if(titem.QuesType_Id ==2){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail checkboxs">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.【多选题】</b><b><%=titem.Name%></b>
                        
                    </h1>
                    <ul id="ul_ques_<%=titem.Id%>" class="radios maxques">
                        <% if(titem.OptionA!=""){ %>
                        <li class="muti" lioption="OptionA">
                            <span style="border-radius:inherit">
                                A<input type="checkbox" flv="OptionA" value="<%=titem.OptionA_S%>" />
                            </span>
                            <div><%=titem.OptionA%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionB!=""){ %>
                        <li class="muti" lioption="OptionB">
                            <span style="border-radius:inherit">
                                B<input type="checkbox" flv="OptionB" value="<%=titem.OptionB_S%>" />
                            </span>
                            <div><%=titem.OptionB%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionC!=""){ %>
                        <li class="muti" lioption="OptionC">
                            <span style="border-radius:inherit">
                                C<input type="checkbox" flv="OptionC" value="<%=titem.OptionC_S%>" />
                            </span>
                            <div><%=titem.OptionC%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionD!=""){ %>
                        <li class="muti" lioption="OptionD">
                            <span style="border-radius:inherit">
                                D<input type="checkbox" flv="OptionD" value="<%=titem.OptionD_S%>" />
                            </span>
                            <div><%=titem.OptionD%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionE!=""){ %>
                        <li class="muti" lioption="OptionE">
                            <span style="border-radius:inherit">
                                E<input type="checkbox" flv="OptionE" value="<%=titem.OptionE_S%>" />
                            </span>
                            <div><%=titem.OptionE%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionF!=""){ %>
                        <li class="muti" lioption="OptionF">
                            <span style="border-radius: inherit">
                                F<input type="checkbox" flv="OptionF" value="<%=titem.OptionF_S%>" />
                            </span>
                            <div><%=titem.OptionF%></div>
                        </li>
                        <% } %>
                    </ul>
                </div>


                <% }else if(titem.QuesType_Id ==3){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.【问答题】</b><b><%=titem.Name%></b>
                        
                    </h1>
                    <textarea name="" id="" class="textarea" placeholder="请输入内容"></textarea>
                </div>
                <% }else if(titem.QuesType_Id ==4){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail" maxscore="<%=titem.OptionF_S_Max%>">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.【选分题】</b><b><%=titem.Name%></b><b class="isscore">(<b class="numbers"><%=titem.OptionF_S_Max%></b>分)</b>
                        
                    </h1>
                    <input type="number" onkeydown="onlyNum();" maxscore="<%=titem.OptionF_S_Max%>" class="number" value="0" name="Name" style="width:100%; height: 35px;border-radius: 2px;border:1px solid #ccc;text-indent:2em;" />
                </div>
                <%} %>
            </div>
            <% }) %>

            <% }) %>
        </div>
    </script>

    <script type="text/javascript">
        mui.init({
            swipeBack: true,//启用右滑关闭功能
            keyEventBind: {
                backbutton: true  //启动back按键监听
            },
            statusBarBackground: '#6a264b',
        });
        var UrlDate = new GetUrlDate();
        //var task_Id = UrlDate.id;
        var table_Id = UrlDate.id;
        var isAnswer = 0; //是否答题 0未答题；1已答题
        var total = 0;//试卷总分数
        var SectionID = 0;
        $(function () {
            State = 2;
            GetIsAnswer_Eva_ByInfo();
            $('#btn_submit').on('tap', function () {
                SaveEvlData();
            });
        });
        //根据评价信息判断评价是否有效、学生是否已答题
        function GetIsAnswer_Eva_ByInfo() {
            $.ajax({
                url: HanderServiceUrl + "/Eva_Manage/Eva_ManageHandler.ashx",
                type: "post",
                async: false,
                dataType: "json",
                data: { Func: "GetIsAnswer_Eva_ByInfo", "table_Id": table_Id, "RoomID": getQueryString('rId'), "ReguID": getQueryString('ReguID'), "UserID": login_User.UniqueNo },
                success: function (json) {
                    if (json.result.errNum == 0) { //未答题                        
                        initdata();
                    } else {
                        window.location.href = "NoCode.html?te=" + json.result.errNum;
                    }
                },
                error: function () { } //接口错误时需要执行的
            });
        }
        //初始化表格列表
        function initdata() {
            $("#btn_submit").show();
            $("#main").empty();
            RoomID = getQueryString('rId');
            ReguID = getQueryString('ReguID');
            Eva_Role = getQueryString('Eva_Role');           
            UI_Table_View.PageType = 'onlinetest';
            UI_Table_View.IsPage_Display = true;
            UI_Table_View.Get_Eva_TableDetail_Compleate = function (retData) {                
                if (retData.Info.IsInClass)
                {
                    $("#main").append(ejs.render($('#item_table_view').html(), { retData: retData }));
                    GetTask_Score(0, retData.IsScore);
                    InitControl(retData.IsScore);
                    var info = retData.Info;
                    SectionID = info.SectionID;
                    DisplayName = info.DisplayName;
                    ReguID = info.ReguID;
                    ReguName = info.ReguName;
                    CourseID = info.CourseID;
                    CourseName = info.CourseName;
                    TeacherUID = info.TeacherUID;
                    TeacherName = info.TeacherName;
                    AnswerUID = login_User.UniqueNo;
                    AnswerName = login_User.Name;
                    TableName = retData.Name;
                    var DepartmentName = info.DepartmentName;                  
                    HeaderList = [];
                    $('#section').text(cutstr(DisplayName, 8));
                    $('#teacher').text(cutstr(TeacherName, 8));
                    $('#course').text(cutstr(CourseName, 8));
                    $('#dp').text(cutstr(DepartmentName, 8));
                    UI_Table_View.scoreInit(retData);
                    $('#list').css('height', (retData.headerList.length / 2) * 20 + retData.head_value.length * 35 + 'px');
                    Reflesh();
                }
                else {
                    location.href = '../Mobile/NoCode.html?te=5';
                }                             
            };
            UI_Table_View.Get_Eva_TableDetail();
        }
        function SaveEvlData() {
            HeaderList = [];
            $('.lblheader').each(function (index) {
                var CustomCode = $(this).attr('CustomCode');
                var Name = $(this).attr('Name');
                var ValueID = '';
                var Value = '';
                CustomCode = (CustomCode != undefined && CustomCode != null) ? CustomCode.trim() : "";
                Name = (Name != undefined && Name != null) ? Name.trim() : "";
                if (CustomCode == "") {
                    Value = $(this).find('input').val().trim();
                }
                else if (CustomCode == "1"||CustomCode == "2" || CustomCode == "3" || CustomCode == "7") {
                    Value = $(this).find('label').text().trim();
                }
                else {
                    ValueID = $(this).find('select').find('option:selected').val();
                    Value = $(this).find('select').find('option:selected').text();
                }
                var obj = { "CustomCode": CustomCode, "Name": Name, "ValueID": ValueID, "Value": Value };
                HeaderList.push(obj);
            });
            Type = 3;         
            Is_AddQuesType = true;
            SubmitQuestionCompleate = function () {
                MesTips('提交成功');
                window.location.href = "Index.html";
                $("#btn_submit").parent().hide();
                $('.ti').css('paddingBottom', '10px');
                $('.radios li').off('tap');
                InitControl_Answer();
            };
            SubmitQuestion();
        }

        function GetTask_Score(type, isscore) { //答题-设置分数
            type = arguments[0] || 0;
            if (isscore == 0) {
                if (type != 0) {
                    var realTotal = 0;//实时总分
                    $(".radios li").each(function () {                        
                        if ($(this).hasClass('on')) {
                           
                            var score =$(this).find('b.numbers').html()
                            realTotal = numAdd(realTotal, score);
                        }
                    });
                    $("#sp_realtotal").html(realTotal);
                }
            }
            else {
                $("#sp_realtotal").html("不计");
            }
        }
        function Reflesh() {
            GetClassInfoSelectCompleate = function () {
                var ClassID = $('#Cls').val();
                GetStudentsSelect(ClassID)
            };
            GetClassInfoSelect(SectionID, TeacherUID, CourseID);
            $('#Cls').on('change', function () {
                var ClassID = $('#Cls').val();
                GetStudentsSelect(ClassID)
            });
        }
    </script>
</body>
</html>