<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>课堂评价</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="js/MobileCommon.js"></script>
    <script src="js/ejs.min.js"></script>


    <style>
        .h1_div {
            margin-top: 10px;
            background: white;
            text-align: center;
            height: 40px;
            margin: 20px -10px 0px -10px;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }

            .h1_div h1 {
                margin-top: 10px;
                margin-left: 20px;
            }

        .test_time {
            font-size: 1.1rem;
        }

        .table_header_left {
            /*min-height: 49px;*/
            /*margin-top: 90px;*/
            /*margin-bottom: 60px;*/
        }

        .input_bottom {
            /* width: 45px; */
            width: 50%;
            border: 0;
            /* border-bottom: 1px solid #000; */
            /* text-align: center; */
            background: transparent;
        }


        .div_header2 {
            margin-top:5px;
            margin-bottom:5px;
            width: 50%;
            /*margin-left: 10px;*/
        }

            .div_header2 select {
                /*width: 210px;*/
            }
    </style>
</head>
<body>
    <div id="main"></div>
    <div class="submitwrap">
        <input type="submit" id="btn_submit" class="button" value="提交" style="display:none;" />
    </div>

    <script src="../Scripts/WebCenter/TableDesigin.js"></script>
    <script src="../Scripts/WebCenter/Evaluate.js"></script>
    <script src="../../Scripts/WebCenter/Room.js"></script>
    <script src="../../Scripts/WebCenter/User.js"></script>

    <!--答题-->
    <script type="text/template" id="item_table_view">
        <div class="header" style="position:fixed;">
            <a href="Index.html" class="back"><i class="iconfont">&#xe647;</i></a>
            <span class="title"><%=retData.Name%> 扫码评价</span>
        </div>
        <div class="test_time ">
            <b id="sp_total" style="color:white;"></b>
        </div>

        <div class="ti test_lists">

            <div class="table_header_left" id="list">
            </div>

            <% $.each(retData.Table_Detail_Dic_List,function(hederindex,child){ %>
            <div class="h1_div">
                <h1 class="test_title" style="display: inline-block">
                    <b class="order_num"></b><b>111</b>
                </h1>
            </div>
            <% $.each(child.Eva_TableDetail_List,function(tindex,titem){ %>

            <div class="test_area indicatype">
                <input type="hidden" value="<%=titem.Eva_table_Id%>" name="name_title" />
                <input type="hidden" value="<%=titem.Id%>" name="name_id" />
                <input type="hidden" value="<%=titem.QuesType_Id%>" name="name_QuesType_Id" />
                
                <% if(titem.QuesType_Id ==1){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail" DetailID="<%=titem.Id%>">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>
                        <% if(retData.IsScore==0){ %><b>(<span><%=titem.OptionF_S_Max%></span>分)</b><%}%>
                        【单选题】
                    </h1>
                    <ul id="ul_ques_<%=titem.Id%>" class="radios maxques">
                        <% if(titem.OptionA!=""){ %>
                        <li lioption="OptionA">
                            <span>
                                A<input type="radio" flv="OptionA" name="name_<%=titem.Id%>" value="<%=titem.OptionA_S%>" />
                            </span>
                            <div><%=titem.OptionA%><b class="isscore">(<b class="numbers"><%=titem.OptionA_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionB!=""){ %>
                        <li lioption="OptionB">
                            <span>
                                B<input type="radio" flv="OptionB" name="name_<%=titem.Id%>" value="<%=titem.OptionB_S%>" />
                            </span>
                            <div><%=titem.OptionB%><b class="isscore">(<b class="numbers"><%=titem.OptionB_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionC!=""){ %>
                        <li lioption="OptionC">
                            <span>
                                C<input type="radio" flv="OptionC" name="name_<%=titem.Id%>" value="<%=titem.OptionC_S%>" />
                            </span>
                            <div><%=titem.OptionC%><b class="isscore">(<b class="numbers"><%=titem.OptionC_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionD!=""){ %>
                        <li lioption="OptionD">
                            <span>
                                D<input type="radio" flv="OptionD" name="name_<%=titem.Id%>" value="<%=titem.OptionD_S%>" />
                            </span>
                            <div><%=titem.OptionD%><b class="isscore">(<b class="numbers"><%=titem.OptionD_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionE!=""){ %>
                        <li lioption="OptionE">
                            <span>
                                E<input type="radio" flv="OptionE" name="name_<%=titem.Id%>" value="<%=titem.OptionE_S%>" />
                            </span>
                            <div><%=titem.OptionE%><b class="isscore">(<b class="numbers"><%=titem.OptionE_S%></b>分)</b></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionF!=""){ %>
                        <li lioption="OptionF">
                            <span>
                                F<input type="radio" flv="OptionF" name="name_<%=titem.Id%>" value="<%=titem.OptionF_S%>" />
                            </span>
                            <div><%=titem.OptionF%><b class="isscore">(<b class="numbers"><%=titem.OptionF_S%></b>分)</b></div>
                        </li>
                        <% } %>
                    </ul>
                </div>

                <% }else if(titem.QuesType_Id ==2){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail" detailid="<%=titem.Id%>">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>   
                        【多选题】                   
                    </h1>
                    <ul id="ul_ques_<%=titem.Id%>" class="radios maxques">
                        <% if(titem.OptionA!=""){ %>
                        <li lioption="OptionA">
                            <span>
                                A<input type="radio" flv="OptionA" name="name_<%=titem.Id%>" value="<%=titem.OptionA_S%>" />
                            </span>
                            <div><%=titem.OptionA%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionB!=""){ %>
                        <li lioption="OptionB">
                            <span>
                                B<input type="radio" flv="OptionB" name="name_<%=titem.Id%>" value="<%=titem.OptionB_S%>" />
                            </span>
                            <div><%=titem.OptionB%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionC!=""){ %>
                        <li lioption="OptionC">
                            <span>
                                C<input type="radio" flv="OptionC" name="name_<%=titem.Id%>" value="<%=titem.OptionC_S%>" />
                            </span>
                            <div><%=titem.OptionC%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionD!=""){ %>
                        <li lioption="OptionD">
                            <span>
                                D<input type="radio" flv="OptionD" name="name_<%=titem.Id%>" value="<%=titem.OptionD_S%>" />
                            </span>
                            <div><%=titem.OptionD%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionE!=""){ %>
                        <li lioption="OptionE">
                            <span>
                                E<input type="radio" flv="OptionE" name="name_<%=titem.Id%>" value="<%=titem.OptionE_S%>" />
                            </span>
                            <div><%=titem.OptionE%></div>
                        </li>
                        <% } %>
                        <% if(titem.OptionF!=""){ %>
                        <li lioption="OptionF">
                            <span>
                                F<input type="radio" flv="OptionF" name="name_<%=titem.Id%>" value="<%=titem.OptionF_S%>" />
                            </span>
                            <div><%=titem.OptionF%></div>
                        </li>
                        <% } %>
                    </ul>
                </div>


                <% }else if(titem.QuesType_Id ==3){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail" detailid="<%=titem.Id%>">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>
                        【问答题】       
                    </h1>
                    <textarea name="" id="" class="textarea" placeholder="请输入内容"></textarea>
                </div>
                <% }else if(titem.QuesType_Id ==4){ %>
                <div id="div_ques_<%=titem.Id%>" class="test_detail" detailid="<%=titem.Id%>">
                    <h1 class="test_type">
                        <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>
                        【选分题】       
                    </h1>
                    <input readonly="readonly" name="Name" style="width: 98%; height: 35px;" />
                </div>
                <%} %>
            </div>
            <% }) %>

            <% }) %>
        </div>
    </script>

    <script type="text/template" id="item_check">

        <% $.each(retData,function(hindex,child){ %>
        <div class="fl div_header2">
            <label class="lblheader" customcode="<%=child.CustomCode%>" name="<%=child.Name%>">
                <%=cutstr(child.Name,8)%>：<%=cutstr(child.Value,8)%>
            </label>
        </div>
        <% }) %>

    </script>

    <script type="text/javascript">
        mui.init({
            swipeBack: true,//启用右滑关闭功能
            keyEventBind: {
                backbutton: true  //启动back按键监听
            },
            statusBarBackground: '#6a264b',
        });


        var table_Id = getQueryString("table_Id");
        var QuestionID = getQueryString("QuestionID");
        //求分类的总分
        var total = 0;

        $(function () {
            UI_Table_View.PageType = 'RegularEva_View';
            UI_Table_View.IsPage_Display = true;

            UI_Table_View.Get_Eva_TableDetail_Compleate = function (retData) {             
                $("#main").append(ejs.render($('#item_table_view').html(), { retData: retData }));
            };
            UI_Table_View.Get_Eva_TableDetail();
            IsScore = UI_Table_View.IsScore;
            PageType = 'RegularEva_View';
            Get_Eva_QuestionAnswerDetail(QuestionID)
        });

    </script>
</body>
</html>