<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <title>定期评价</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/mui.min.js"></script>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="js/MobileCommon.js"></script>
    <script src="js/ejs.min.js"></script>
    <!--试卷展示-->
    <script type="text/template" id="item_table_show">
        <div class="header" style="position:fixed;">
            <a href="Index.html" class="back"><i class="iconfont">&#xe647;</i></a>
            <span class="title"><%=retData.Eva_Table.Name%> 定期评价</span>
        </div>      
        <div class="test_time">
            <span style="width:58%;color:#fff;text-overflow: ellipsis;display:block;float:left;overflow: hidden;white-space: nowrap;"><%=teacher_name%>-<%=course_Name%></span>实时总分：<b id="sp_realtotal" style="color:white;">0</b>分
        </div>
        <div class="ti">
            <% $.each(retData.eva_detail_list,function(index,item){ %>
            <div id="div_indi_<%=item.indicator_type_tid%>" class="test_area indicatype">
                <% if(item.QuesType_Id!=3){ %>
                    <h1 class="test_type">
                        <%=Arabia_To_SimplifiedChinese(++index)%>、<%=item.indicator_type_tname%> <b>(<span id="h_<%=item.indicator_type_tid%>"></span> 分)</b>
                    </h1>
                    <% $.each(item.indicator_list,function(tindex,titem){ %>
                    <div id="div_ques_<%=titem.Id%>" class="test_detail">
                        <h1 class="test_type" style="border-bottom:none;">
                            <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>
                            <b>(<span id="sp_<%=titem.Id%>"></span>分)</b>
                        </h1>
                        <ul id="ul_ques_<%=titem.Id%>" class="radios maxques">
                            <% if(titem.OptionA!=""){ %>
                            <li lioption="OptionA">
                                <span>
                                    A<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionA%>(<b class="numbers"><%=titem.OptionA_S%></b>分)</div>
                            </li>
                            <% } %>
                            <% if(titem.OptionB!=""){ %>
                            <li lioption="OptionB">
                                <span>
                                    B<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionB%>(<b class="numbers"><%=titem.OptionB_S%></b>分)</div>
                            </li>
                            <% } %>
                            <% if(titem.OptionC!=""){ %>
                            <li lioption="OptionC">
                                <span>
                                    C<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionC%>(<b class="numbers"><%=titem.OptionC_S%></b>分)</div>
                            </li>
                            <% } %>
                            <% if(titem.OptionD!=""){ %>
                            <li lioption="OptionD">
                                <span>
                                    D<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionD%>(<b class="numbers"><%=titem.OptionD_S%></b>分)</div>
                            </li>
                            <% } %>
                            <% if(titem.OptionE!=""){ %>
                            <li lioption="OptionE">
                                <span>
                                    E<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionE%>(<b class="numbers"><%=titem.OptionE_S%></b>分)</div>
                            </li>
                            <% } %>
                            <% if(titem.OptionF!=""){ %>
                            <li lioption="OptionF">
                                <span>
                                    F<input type="radio" name="name_<%=titem.Id%>" value="" />
                                </span>
                                <div><%=titem.OptionF%>(<b class="numbers"><%=titem.OptionF_S%></b>分)</div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <% }) %>
                <% }else{ %>
                    <h1 class="test_type">
                        <%=Arabia_To_SimplifiedChinese(++index)%>、<%=item.indicator_type_tname%> 
                    </h1>
                    <% $.each(item.indicator_list,function(tindex,titem){ %>
                    <div id="div_ques_<%=titem.Id%>" class="test_detail">
                        <h1 class="test_type">
                            <b class="order_num"><%=(++tindex)%>.</b><b><%=titem.Name%></b>                        
                        </h1>
                        <textarea class="textarea"></textarea>
                    </div>
                <% }) %>
                <%} %>
            </div>
            <% }) %>
            <% $.each(retData.eva_detail_list_2,function(index,item){ %>
            <div id="div_indi_<%=item.indicator_type_tid%>" class="test_area indicatype">
                <h1 class="test_type">
                    <%=Arabia_To_SimplifiedChinese(++index+retData.eva_detail_list.length)%>、<%=item.indicator_type_tname%>
                </h1>
                <% $.each(item.indicator_list,function(findex,fitem){ %>
                <div id="div_feed_<%=fitem.Id%>" class="test_detail">
                    <h1 class="test_type" style="border-bottom:none;">
                        <b class="order_num"><%=(++findex)%>.</b><b><%=fitem.Name%></b>
                    </h1>
                    <textarea id="area_feed_<%=fitem.Indicator_Id%>" class="textarea"></textarea>
                </div>
                <% }) %>
            </div>
            <% }) %>
        </div>
    </script>
</head>
<body>
    <div id="main"></div>
    <script type="text/javascript">
        mui.init({
            swipeBack: true,//启用右滑关闭功能
            keyEventBind: {
                backbutton: true  //启动back按键监听
            },
            statusBarBackground: '#6a264b',
        });
        var UrlDate = new GetUrlDate();
        var table_Id = getQueryString("Table_Id");
        var StudentUID = GetLoginUser().UniqueNo;//学生ID
        var CourseId = getQueryString("Course_Id");//课程ID
        var TeacherUID = getQueryString("Teacher_Id");//教师ID
        var SectionId = getQueryString("section");//学期ID
        var Eva_Distribution_Id = getQueryString("Id");
        var CreateUID = GetLoginUser().UniqueNo;//学生ID
        var course_Name = getQueryString("course_Name");
        var teacher_name = getQueryString("Teacher_Name");    
        $(function () {            
            Get_Eva_TableDetail_HasAnswer();
        });             
        //查看试卷
        function Get_Eva_TableDetail_HasAnswer() {
            $("#main").empty();
            $.ajax({
                url: HanderServiceUrl + "/Eva_Manage/Eva_ManageHandler.ashx",
                type: "post",
                async: false,
                dataType: "json",
                data: { Func: "Get_Eva_TableDetail_HasAnswer", table_Id: table_Id,TeacherUID: TeacherUID,StudentUID: StudentUID, CourseId: CourseId },
                success: function (json) {
                    if (json.result.errNum == 0) {
                        var retData = json.result.retData;
                        retData.eva_detail_list = TaskInfoOrder(retData);
                        $("#main").append(ejs.render($('#item_table_show').html(), { retData: retData }));
                        AddAnswerToQues(retData);
                        GetScore_Answer();
                        InitControl_Answer();
                    }
                },
                error: function () {
                    //接口错误时需要执行的
                }
            });
        }
        //为题设置答案
        function AddAnswerToQues(retData) {
            var eva_detail_list = retData.eva_detail_list;
            for (var i = 0; i < eva_detail_list.length; i++) {
                if (eva_detail_list[i].QuesType_Id == 3)//问答题
                {
                    var answer_detail_list = eva_detail_list[i].answer_detail_list;
                    for (var j = 0; j < answer_detail_list.length; j++) {
                        $("#div_ques_" + answer_detail_list[j].TableDetail_Id).find("textarea").val(answer_detail_list[j].Answer);
                    }
                }
                else {//单选题
                    var answer_detail_list = eva_detail_list[i].answer_detail_list;
                    if (answer_detail_list != null) {
                        for (var j = 0; j < answer_detail_list.length; j++) {
                            //添加单选题选中样式
                            $("#div_ques_" + answer_detail_list[j].TableDetail_Id).find("li[lioption=" + answer_detail_list[j].Answer + "]").addClass('on');
                        }
                    }
                }
            }
            //加载教学反馈答案
            var eva_detail_list_2 = retData.eva_detail_list_2;                      
            if (eva_detail_list_2 != null && eva_detail_list_2 != undefined) {
                for (var i = 0; i < eva_detail_list_2.length; i++) {
                    var answer_detail_list = eva_detail_list_2[i].answer_detail_list;
                    for (var j = 0; j < answer_detail_list.length; j++) {
                        $("#area_feed_" + answer_detail_list[j].TableDetail_Id).val(answer_detail_list[j].Answer);
                    }
                }                
            }            
        }
    </script>
</body>
</html>