body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:30px;
  top:45px;
  width:623px;
  height:20px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u489 {
  position:absolute;
  left:30px;
  top:25px;
  width:385px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  position:absolute;
  left:30px;
  top:119px;
  width:483px;
  height:20px;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:92px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u493 {
  position:absolute;
  left:30px;
  top:180px;
  width:496px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:10px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u495 {
  position:absolute;
  left:30px;
  top:99px;
  width:456px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:988px;
}
#u497 {
  position:absolute;
  left:-332px;
  top:289px;
  width:1920px;
  height:988px;
}
#u498 {
  position:absolute;
  left:2px;
  top:486px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
