body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1013px;
}
#u529 {
  position:absolute;
  left:-331px;
  top:0px;
  width:1920px;
  height:1013px;
}
#u530 {
  position:absolute;
  left:2px;
  top:498px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
