body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1347px;
}
#u449 {
  position:absolute;
  left:-355px;
  top:0px;
  width:1920px;
  height:1347px;
}
#u450 {
  position:absolute;
  left:2px;
  top:666px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
