body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1834px;
}
#u183 {
  position:absolute;
  left:-131px;
  top:0px;
  width:1920px;
  height:1834px;
}
#u184 {
  position:absolute;
  left:2px;
  top:909px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
