body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1284px;
}
#u429 {
  position:absolute;
  left:-343px;
  top:0px;
  width:1920px;
  height:1284px;
}
#u430 {
  position:absolute;
  left:2px;
  top:634px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:123px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u431 {
  position:absolute;
  left:1222px;
  top:225px;
  width:349px;
  height:123px;
  color:#FFFFFF;
}
#u432 {
  position:absolute;
  left:10px;
  top:10px;
  width:329px;
  word-wrap:break-word;
}
