body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:503px;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:503px;
}
#u632 {
  position:absolute;
  left:2px;
  top:244px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
